doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    include ../includes/css-includes.pug
    title Zero Waste
body
  include ../includes/header.pug
  main
    section.section.market
      .container
        h2.green-title.test-title__arrow
          a(href="#").arrow
            img(src="../img/arrow.svg", alt="")
          span Категории: Уход
  include ../includes/footer.pug
  include ../includes/js-includes.pug